/**************** General Settings ****************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f4c81;
}

footer {
    text-align: center;
}

hr {
    color: #6b778d;
    width: 15%;
    border-style: none none;
    border-bottom: dotted 5px;

}

/**************** NavBar Elements ****************/
nav {
    height: 100%;
    background-color: #6b778d;
    display: inline;
}

.NavBar {
    margin-top: 0px;
}

.NavBarElement {
    color: #fbd46d;
    font-weight: bold;

}

/**************** Home Page ****************/
.HomeText {
    text-align: center;
}

.MyPicture {
    display: block;
    margin: 30px auto 30px auto;
    width: 35%;
}

/**************** Projects Page ****************/
.YoutubeVideo {
    display: block;
    margin: 50px auto 50px auto;
}

.ProjectsTitle {
    text-align: center;
}

/**************** Contact Page ****************/